#btnSec
{
    font-size: 20px;
}
.technical-photo {
    width: 100px; /* set the width to 100 pixels */
    height: 100px; /* set the height to 100 pixels */
    object-fit: cover; /* maintain aspect ratio while filling the container */
  }

  @media (max-width: 768px) {
    .technical-photo {
      width: 40x; /* set the width to 50 pixels on screens smaller than 768px */
      height: 40px; /* set the height to 50 pixels on screens smaller than 768px */
    }
  }

  .pie
  {
    width: 650px;
  }

  .chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 991px) {
    .chart img {
      width: calc(33.33% - 10px);
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .chart img {
      width: calc(50% - 10px);
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .chart img {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  