.design{
    margin: 240px auto !important;
    padding: 40px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 30px;
  }
  
  
  
  form div{
    margin: auto;
  
  }
  .cont{
    text-align: center;
  }
  .SubBtn{
  
    margin: auto;
  width: 63% !important;
  margin-top: 20px;
  background-color: #00b074;
  color: white;
  border: none;
  
  
  }
  